.life-road-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10%;
  padding-bottom: 10%;

  .life-road-block {
    display: flex;
    justify-content: center;
    width: 60%;

    h2 {
      text-align: center;
      height: 40px;
      width: 250px;
      line-height: 40px;
      background: white;
    }

    .life-road-timeline {
      position: relative;
      padding: 0;
      width: 100%;

      &::before {
        top: 20px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 2px;
        background-color: #e6e6e6;
        left: 50%;
        margin-left: 0;
        z-index: -1;
      }

      .timeline-item {
        width: calc(80% - 30px);

        &__header {
          h3 {
            font-family: "Space Mono", Arial, serif;
            font-weight: 400;
          }

          span {
            font-family: "Space Mono", Arial, serif;
            font-size: 16px;
            font-weight: normal;
            color: #bfbfbf;
          }
        }
      }

      li {
        list-style: none;
        display: flex;
        visibility: hidden;
        transition: top 3s;
        opacity: 0;
        width: 100%;
        justify-content: center;
        margin-top: 3%;

        &:nth-child(1) {
          margin-top: 0;
        }

        &:nth-child(2),
        &:nth-child(5) {
          justify-content: flex-start;

          div:first-child {
            margin-left: 20px;
          }
        }

        &:nth-child(4) {
          justify-content: flex-end;

          div:first-child {
            margin-left: -20px;
            flex-direction: row;
          }
        }
      }

      &__block {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:nth-child(1),
        &:nth-child(3) {
          flex-direction: row-reverse;
        }
      }

      &__image-block {
        width: 40px;
        height: 40px;

        img {
          border-radius: 15%;
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .life-road-container {
    .life-road-block {
      width: 95%;

      .life-road-timeline {
        &__block {
          .timeline-item {
            width: calc(80% - 10px);

            &__header {
              margin-left: 0 !important;
            }
          }
        }
      }
    }
  }
}