<footer>
  <ul>
    <li>
      <h6>Version:</h6>
      <span>© {{dateNow}} Viacheslav Chopyk. All Rights Reserved.</span>
    </li>
    <li>
      <h6>Socials:</h6>
      <ul class="socials-media">
        <li>
          <a
            href="https://www.linkedin.com/in/viacheslav-chopyk-735622170/"
            target="_blank"
          >
            <span>LinkedIn</span>
            <img
              src="https://chopyk89.github.io/portfolio/src/assets/images/linkedIn.svg"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="https://github.com/chopyk89" target="_blank">
            <span>GitHub</span>
            <img
              src="https://chopyk89.github.io/portfolio/src/assets/images/github.svg"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/slavikchopyk/" target="_blank">
            <span>Instagram</span>
            <img
              src="https://chopyk89.github.io/portfolio/src/assets/images/instagram.svg"
              alt=""
            />
          </a>
        </li>
      </ul>
    </li>
  </ul>
</footer>
