<div id="preview-container" class="preview-container">
  <div class="overlay-preview"></div>
  <div class="preview-block">
    <div class="preview-top-block">
      <picture class="person-picture">
        <img
          src="https://chopyk89.github.io/portfolio/assets/images/person.jpeg"
          alt=""
        />
      </picture>
      <div class="running-line-block">
        <h1>Viacheslav Chopyk - Front End Developer</h1>
        <h1>Viacheslav Chopyk - Front End Developer</h1>
      </div>
      <button class="located-block" (click)="openWikiPage()">
        <span>Located in the Ukraine</span>
        <div class="globe" style="">
          <div class="globe-wrap">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle-hor"></div>
            <div class="circle-hor-middle"></div>
          </div>
        </div>
      </button>
    </div>
    <div class="social-medias-block">
      <a
        href="https://www.linkedin.com/in/viacheslav-chopyk-735622170/"
        target="_blank"
        ><img
          src="https://chopyk89.github.io/portfolio/assets/images/linkedIn.svg"
          alt=""
      /></a>
      <a href="https://github.com/chopyk89" target="_blank"
        ><img
          src="https://chopyk89.github.io/portfolio/assets/images/github.svg"
          alt=""
      /></a>
      <a href="https://www.instagram.com/slavikchopyk/" target="_blank"
        ><img
          src="https://chopyk89.github.io/portfolio/assets/images/instagram.svg"
          alt=""
      /></a>
    </div>
  </div>
</div>
