<div id="about-me-container" class="about-me-container">
  <h1 class="about-me-header">About Me</h1>
  <div class="about-me-block">
    <div class="top-row-block">
      <div class="left-column-block">
        <div class="about-me-table">
          <div class="about-me-table__head">
            <span>Full Name:</span>
            <span>Email:</span>
            <span>Address</span>
            <span>Career start day:</span>
          </div>
          <div class="about-me-table__body">
            <span>Chopyk Viacheslav</span>
            <span>if040489cvv@gmail.com</span>
            <span>Ukraine, Ivano - Frankivsk</span>
            <span>07.11.2021</span>
          </div>
        </div>
      </div>
      <div class="right-column-block">
        <h2>Hello There!</h2>
        <p>
          Front End Web Developer with over 1 year of commercial experience in
          software development using Angular Framework. Familiarized with
          cross-device responsive web development. Result-orientated,
          responsible and attention to detail.
        </p>
      </div>
    </div>
    <div class="bottom-row-block">
      <h2>Technical Skills</h2>
      <div class="skills-block">
        <img
          src="https://chopyk89.github.io/portfolio/assets/images/html-css-js-icons.png"
          alt=""
        />
        <img
          src="https://chopyk89.github.io/portfolio/assets/images/sass-logo.png"
          alt=""
        />
        <img
          src="https://chopyk89.github.io/portfolio/assets/images/ts-logo.png"
          alt=""
        />
        <img
          src="https://chopyk89.github.io/portfolio/assets/images/angular-logo.png"
          alt=""
        />
      </div>
      <button class="download-btn" (click)="openCV()">
        <span>Open the resume:</span>
        <img
          src="https://chopyk89.github.io/portfolio/assets/images/resume-logo.png"
          alt=""
        />
      </button>
    </div>
  </div>
</div>
